In [2]:
import pandas as pd
import numpy as np

In [4]:
s=pd.Series([2,4,5])#1d =series
print(s)

0    2
1    4
2    5
dtype: int64

In [7]:
li=s.tolist()#convert to list
print(type(li))

<class 'list'>

In [9]:
s1=pd.Series([2,4,6,8,10])
s2=pd.Series([1,3,5,7,10])
print(s1+s2)#add two series
print(s1-s2)
print(s1/s2)

0     3
1     7
2    11
3    15
4    20
dtype: int64
0    1
1    1
2    1
3    1
4    0
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.000000
dtype: float64

In [10]:
print(s1==s2)#compare
print(s1>s2)

0    False
1    False
2    False
3    False
4     True
dtype: bool
0     True
1     True
2     True
3     True
4    False
dtype: bool

In [12]:
di={'a':100,'b':200,'c':300,'d':400,'e':800}
s3=pd.Series(di)
print(s3)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [14]:
np_array = np.array([10, 20, 30, 40, 50])#array to series
ns=pd.Series(np_array)
print(ns)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [17]:
s4 = pd.Series(['100', '200', 'python', '300.12', '400'])#chage type
s5=pd.to_numeric(s4,errors='coerce')
print(s5)

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [25]:
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(data=d)
sg=pd.Series(df.iloc[:,0])
print(type(sg))

<class 'pandas.core.series.Series'>

In [3]:
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])

In [4]:
s=s.apply(pd.Series).stack().reset_index(drop=True)#series of lists to one series
print(s)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [7]:
s=pd.concat([s,pd.Series([500,'php'])],ignore_index=True)#add value
print(s)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
6       500
7       php
dtype: object

In [9]:
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
result=sr1[~sr1.isin(sr2)]
print(result)

0    1
2    3
4    5
dtype: int64

In [10]:
num_state=np.random.RandomState(100)
num_series=pd.Series(num_state.normal(10,4,20))
result=np.percentile(num_series,q=[0,25,50,75,10])
print(result)

[ 3.00093811  8.09463867 10.23353705 12.21537733  5.70051671]

In [12]:
dt= {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}
df=pd.DataFrame(dt)
print(df)
print(type(df))

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83
<class 'pandas.core.frame.DataFrame'>

In [45]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
label= ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df=pd.DataFrame(exam_data,index=label)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [15]:
total_rows=len(df.axes[0])
total_cols=len(df.axes[1])
print("Number of Rows: "+str(total_rows))
print("Number of Columns: "+str(total_cols))

Number of Rows: 10
Number of Columns: 4

In [17]:
print(df[df['score'].isnull()])

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

In [22]:
print(df[(df['score']>15)&(df['attempts']<2)])

    name  score  attempts qualify
j  Jonas   19.0         1     yes

In [23]:
print(df['attempts'].sum())

19

In [25]:
print(df['score'].mean())

13.5625

In [27]:
df.loc['k']=['suresh',15.5,1,'yes']
print(df)
df=df.drop('k')
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     suresh   15.5         1     yes
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [30]:
print(df.sort_values(by=['name','score'],ascending=[False,True]))

        name  score  attempts qualify
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
b       Dima    9.0         3      no
a  Anastasia   12.5         1     yes

In [32]:
print(df['qualify'].map({'yeas':True,'no':False}))

a      NaN
b    False
c      NaN
d    False
e    False
f      NaN
g      NaN
h    False
i    False
j      NaN
Name: qualify, dtype: object

In [34]:
print(df['name'].replace('James','nazanin'))

a    Anastasia
b         Dima
c    Katherine
d      nazanin
e        Emily
f      Michael
g      Matthew
h        Laura
i        Kevin
j        Jonas
Name: name, dtype: object

In [35]:
color = ['Red','Blue','Orange','Red','White','White','Blue','Green','Green','Red']
df['color']=color
print(df)

        name  score  attempts qualify   color
a  Anastasia   12.5         1     yes     Red
b       Dima    9.0         3      no    Blue
c  Katherine   16.5         2     yes  Orange
d      James    NaN         3      no     Red
e      Emily    9.0         2      no   White
f    Michael   20.0         3     yes   White
g    Matthew   14.5         1     yes    Blue
h      Laura    NaN         1      no   Green
i      Kevin    8.0         2      no   Green
j      Jonas   19.0         1     yes     Red

In [46]:
print(list(df.columns.values))

['name', 'score', 'attempts', 'qualify']

In [48]:
df=df.rename(columns={'score':'scores'})
print(df)

        name  scores  attempts qualify
a  Anastasia    12.5         1     yes
b       Dima     9.0         3      no
c  Katherine    16.5         2     yes
d      James     NaN         3      no
e      Emily     9.0         2      no
f    Michael    20.0         3     yes
g    Matthew    14.5         1     yes
h      Laura     NaN         1      no
i      Kevin     8.0         2      no
j      Jonas    19.0         1     yes

In [49]:
#join to data set by rows using concat 
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})

print("Original DataFrames:")
print(student_data1)
print("-------------------------------------")
print(student_data2)
print("\nJoin the said two dataframes along rows:")
result_data = pd.concat([student_data1, student_data2])
print(result_data)

Original DataFrames:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
-------------------------------------
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

Join the said two dataframes along rows:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

In [ ]:
#oin by the columns
result_data = pd.concat([student_data1, student_data2], axis = 1)

In [ ]:
#for joining a series and dictionary to dataframe use append
combined_data = student_data1.append(s6, ignore_index = True)

In [50]:
df1 = pd.DataFrame({'A': [None, 0, None], 'B': [3, 4, 5]})
df2 = pd.DataFrame({'A': [1, 1, 3], 'B': [3, None, 3]})
result=df1.combine_first(df2)
print(result)

     A    B
0  1.0  3.0
1  0.0  4.0
2  3.0  5.0

In [51]:
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
df = pd.DataFrame({
'ord_no':[70001,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
'ord_date': ['2012-10-05','2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':[3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001],
'salesman_id':[5002,5003,5001,np.nan,5002,5001,5001,np.nan,5003,5002,5003,np.nan]})
print("Original Orders DataFrame:")
print(df)
print("\nIdentify the columns which have at least one missing value:")
print(df.isna().any())

Original Orders DataFrame:
     ord_no  purch_amt    ord_date  customer_id  salesman_id
0   70001.0     150.50  2012-10-05         3002       5002.0
1       NaN     270.65  2012-09-10         3001       5003.0
2   70002.0      65.26         NaN         3001       5001.0
3   70004.0     110.50  2012-08-17         3003          NaN
4       NaN     948.50  2012-09-10         3002       5002.0
5   70005.0    2400.60  2012-07-27         3001       5001.0
6       NaN    5760.00  2012-09-10         3001       5001.0
7   70010.0    1983.43  2012-10-10         3004          NaN
8   70003.0    2480.40  2012-10-10         3003       5003.0
9   70012.0     250.45  2012-06-27         3002       5002.0
10      NaN      75.29  2012-08-17         3001       5003.0
11  70013.0    3045.60  2012-04-25         3001          NaN

Identify the columns which have at least one missing value:
ord_no          True
purch_amt      False
ord_date        True
customer_id    False
salesman_id     True
dtype: bool

In [52]:
print("\nNumber of missing values of the said dataframe:")
print(df.isna().sum())

Number of missing values of the said dataframe:
ord_no         4
purch_amt      0
ord_date       1
customer_id    0
salesman_id    3
dtype: int64

In [ ]:
result = df.dropna(thresh=2)# only 3 columns or more are missing 
result = df.dropna(how='all')# all the values are missing

In [ ]:
print("\nDrop those rows in which specific columns have missing values:")
result = df.dropna(subset=['ord_no', 'customer_id'])
print("\nKeep the said DataFrame with valid entries:")
result = df.dropna(inplace=False)
print("\nReplace NaNs with a single constant value:")
result = df['ord_no'].fillna(0, inplace=False)
print("Using mean to replace NaN:")
df['sale_amt'].fillna(int(df['sale_amt'].mean()), inplace=True)